<!DOCTYPE html>
<html>
<head>
    <title>Politician Promises</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Noto Sans", sans-serif;
      }
    </style>
</head>
<body class="min-h-screen flex flex-col">
    <header
      class="bg-black text-white w-full p-4 flex justify-between items-center"
    >
      <div class="text-xl font-bold text-white-200 bg-clip-text text-3xl">
        정치인 공약 이행률
      </div>
      <div>
        <input
          type="text"
          id="searchInput"
          placeholder="Search..."
          class="p-2 text-black rounded"
        />
        <select id="results" class="p-2 text-black rounded">
          <!-- 드롭다운 옵션들이 여기에 추가될 것입니다 -->
        </select>
        <button
          id="searchButton"
          class="bg-gray-700 text-white p-2 rounded ml-2"
        >
          Search
        </button>
      </div>
    </header>

    <h1>Politician Promises</h1>

    <ul class="bg-white space-y-4 p-6">
          {% for promise in promises %}
          <li class="border-b pb-2 flex items-center">
            <p class="text-gray-700 mr-auto">{{promise.name}}</p>
            <p class="text-gray-500">
              <strong>{{promise.total_fulfillment_rate }}</strong>
            </p>
          </li>
          {% endfor %}
        </ul>


</body>
</html>
